<!DOCTYPE html>
<html lang="ja">

<head>
    <title>GptGameWeb</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <div class="outerframe">
        <main role="main" class="main">
            <div class="containerCharaImg">
                <img id="charaImg" class="charaImg" src="/public/images/CharaImg/default.png">
            </div>
            <div class="containerTextareaWrapper">
                <div class="containerTextarea">
                    <div class="textarea">
                        <textarea id="textarea" class="Child" maxlength="255" readonly="true" placeholder="ここに送信するメッセージを入力してください"></textarea>
                    </div>
                </div>
                <div class="containerSendBtn">
                    <button id="sendBtn" class="sendBtn" disabled="true">通信中</button>
                </div>
            </div>
        </main>
    </div>
    <script src="/public/js/main.js"></script>
</body>

</html>